@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 3vh;
}



.registerContainer {
    padding: 50px 400px;
}

.loginContainer {
    padding: 50px 500px;
}

#formLogin input {
    margin: 20px 0px;
}

.loginContainer div {
    margin: 20px 0px;
    font-size: 2vh;
}

.loginContainer a {
    font-size: 2vh;
}

.loginHead {
    text-align: center;
    font-size: 4vh;
}



@media only screen and (max-width: 1000px) {


    .loginContainer {
        padding: 100px;
    }

    .registerContainer {
        /*padding: 0px;*/
        padding: 100px;
    }
}
