@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');


@media only screen and (max-width: 500px) and (min-width: 259px){ 

    .wrapper{
        width: 307px;
        margin: 80px auto 0;
      }

}


@media only screen  and (min-width: 500px){ 

    .wrapper{
        width: 500px;
        margin: 80px auto 0;
      }

}













*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body{
  background: #94FBAB;
}



.wrapper .accordion_wrap .accordion_header{
  width: 100%;
  height: 50px;
  background: #fff;
  padding: 15px;
  color:#A9FFF7;
  font-weight: 700;
  border-bottom: 2px solid #A9FFF7;
  position: relative;
  cursor: pointer;
}

.wrapper .accordion_wrap:first-child .accordion_header{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.wrapper .accordion_wrap:last-child .accordion_header{
  border-bottom: 2px solid transparent;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.wrapper .accordion_wrap:last-child .accordion_header:hover{
  border-bottom: 2px solid transparent;
}

.wrapper .accordion_wrap .accordion_header:before,
.wrapper .accordion_wrap .accordion_header:after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 20px;
  height: 2px;
  background: #94FBAB;
}

.wrapper .accordion_wrap .accordion_header:hover{
  color:#94FBAB;
  border-color: #A9FFF7;
}

.wrapper .accordion_wrap .accordion_header:hover:before,
.wrapper .accordion_wrap .accordion_header:hover:after{
  background: #94FBAB;
}

.wrapper .accordion_wrap .accordion_header:after{
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}

.wrapper .accordion_wrap .accordion_body{
  width: 100%;
  height: 0px;
  transition: all 0.5s ease;
  background:#fff;
  overflow: hidden;
  border-color: #01645d;
}

.wrapper .accordion_wrap .accordion_body li{
  padding: 15px;
  font-size: 15px;
  line-height: 22px;
  color:#01645d;
  padding: 10px;
}

.wrapper .accordion_wrap .accordion_header.active{
  color: #94FBAB; 
  border-color: #01645d;
}

.wrapper .accordion_wrap:last-child .accordion_header.active{
  border-bottom: 2px solid #01645d;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.wrapper .accordion_wrap .accordion_header.active:before,
.wrapper .accordion_wrap .accordion_header.active:after{
  background: #01645d;
}

.wrapper .accordion_wrap .accordion_header.active:after{
  transform: rotate(0deg);
}

.wrapper .accordion_wrap .accordion_header.active + .accordion_body{
  height: 180px;
}