{% extends 'base.html' %}
{% block title  %}
<title>Loginnya disini gan</title>
{% endblock %}

{% block content %}
 <section class="loginContainer">
     <header class="loginHead">
        Welcome to the login page
    </header>
        <form method="POST" action="" id="formLogin">
            {% csrf_token %}
            <input type="text" name="username" class="form-control" placeholder="Username">
            <input type="password" name="password" class="form-control" placeholder="Password">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
     <div>
         Don't have an account? <a href="{% url 'login:register' %}"> Sign Up </a>
    </div>
     {% for message in messages %}
         <p>{{ message }}</p>
     {% endfor %}
    </section>
{% endblock %}
