{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="registerContainer">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
    </section>
{% endblock %}
