{% extends 'base.html' %}

{% block title  %}
<title>ini welcome!</title>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center px-2" id="homeC">
        <div class="col-10 pt-2">
            
            <h1 class="mt-4 pt-2">Welcome, {{ request.user }}</h1>
            
        </div>

         <a href="{% url 'login:logout' %}"><button class="btn btn-danger btn-sm" id="buttonLogin">Logout</button></a>
    </div>
</div>

{% endblock %}
