<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Accordion</title>
   
    
    
</head>
<body>
    <div class="wrapper">
  <div class="accordion_wrap ">
        <div class="accordion_header">
            Tentang Saya
            <a href="#" class="up">Up</a>
            <a href="#" class="down">Down</a>
        </div>
        <div class="accordion_body">
          <p>Saya Aimar Fikri Salafi, Saya suka bermain game rpg dan turn base. Saya berumur 18, tapi wajahnya dah tua jika ingin lebih tau tentang saya bisa ke <a href="http://website-aimarv2.herokuapp.com/ ">sini</a>  </p>
        </div>
  </div>
  <div class="accordion_wrap ">
    <div class="accordion_header">
      organisai
      <a href="#" class="up">Up</a>
      <a href="#" class="down">Down</a>
    </div>
    <div class="accordion_body">
        <li> IGI COMPFEST</li>
        <li> PERAK divisi Games</li>
        <li> ROHIS SMAN 78 Jakarta</li>
    </div>
  </div>
  <div class="accordion_wrap ">
    <div class="accordion_header">
        Prestasi
        <a href="#" class="up">Up</a>
        <a href="#" class="down">Down</a>
    </div>
    <div class="accordion_body">
        <li> Udah ke rank Archon 1</li>
        <li> Lomba Masak saat SMA</li>
        <li> Masih Mencari Sampai sekarang</li>
    </div>
  </div>
  <div class="accordion_wrap ">
    <div class="accordion_header">
    Aktivitas Sehari-hari
    <a href="#" class="up">Up</a>
  <a href="#" class="down">Down</a>
  </div>
  <div class="accordion_body">
          <li> Main Game</li>
          <li> Makan</li>
          <li> olahraga</li>
          <li> tidur selama 2 jam per 4 jam sekali</li>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
       <script src="{% static '/js/style.js' %}"></script>
  
</body>
</html>