@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 3vh;
}

.Perpus_tittle {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


.d-inline-block {
    background-color: transparent;
}

.display-3 {
    color: black;
}



#navbar_story {
    justify-content: unset;
}


.main_section {
    padding: 20px;
}

.main_section h2 {
    text-align: center;
}

.main_section p {
    text-align: center;
}

.containerSearchBox {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyword {
    width: 400px;
    margin-right: 20px;
}

.containerBooks {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
}


.containerBuku div p {
    text-align: center;

}

.penulis {
    margin-top: 20px;
}

#tableku {
    margin-top: 20px;
}



.gambar_buku {
    width: 20.77vh;
    height: 27.7vh;
}


