{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style8.css' %}">
    <title>Perpustakaan sukajaya</title>
</head>
<body>

   <section class="Perpus_tittle">
        <h2>Perpustakaan sukajaya</h2>
        <p>selamat datang di perpustakaan sukajaya</p>
    </section>
    <section class="containerSearchBox">
        <input id="keyword" placeholder="Masukan Nama buku" class="form-control">
        <button id="button_cari" type="button" class="btn btn-outline-primary">Cari </button>
    </section>
    <section class="containerbooks">
    <div class="table-responsive" id="tableku">
        <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Cover</th>
          <th scope="col">Judul</th>
          <th scope="col">Penulis</th>
        </tr>
      </thead>
      <tbody class = "baris_tabel">
      </tbody>
    </table>
    </div>
    </section>
    
   


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script  src = "{% static '/js/jslib.js' %}" ></script>
</body>
</html>
